.b {
  border: #FD6E0A 1px solid;
}

nav {
  font-family: "Open Sans", sans-serif;
  ;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
}

#yellow {
  color: #FD6E0A !important;
}

nav ul li {
  list-style: none;




}

nav {
  display: flex;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  gap: 0 30px;

}

.ul {
  display: flex;
  gap: 0 30px;
}

.hireme-button {
  height: 40px;
  margin-top: 7px;
  background-color: #FD6E0A;
  color: white;
  width: 90px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.content1 {
  display: flex;
  font-family: "Open Sans", sans-serif;
  background-image: url(./images/developer.png),url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center,right bottom,right center;
}

.content {
  margin: 100px;
}

.my-img {
  width: 100%;
}

.hi {
  font-weight: 600;
}

.name {
  font-weight: 900;
  font-size: xx-large;
}

.image-div {
  margin: 100px;
}

.download-button {
  height: 30px;
  margin-top: 7px;
  background-color: #FD6E0A;
  color: white;
  width: 130px;
  border-radius: 10px;
  border: none;
}

.contact-button-margin {
  display: flex;
  margin: 10px;
  text-decoration: none;
}

.contact-button {
  margin-top: 7px;
  background-color: #ffffff;
  color: #FD6E0A;
  width: 130px;
  border-radius: 10px;
  font-weight: 600;
}

.download-button-margin {
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
}

.hireme-button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.about-me {
  text-align: center;
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.full-about-me {
  margin: 100px 200px;
  background-color: white;
}

.content2 {
  margin: 50px;
  background-color: #FFF8F3;
  padding: 10px;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
  gap: 20px;
}

.contact-info h1 {
  font-size: small;
}

.what-i-do-section {
  text-align: center;
  margin: 0 100px;
}

.languages {
  display: flex;
  padding: 50px 30px;
  gap: 50px;
}

.language {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.2);
}

.what-i-do-section {
  background-color: #FFF8F3;
}

.bg-color-for-section2 {
  background-color: #FFF8F3;
  margin: 0 100px;
}

.my-info {
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.download1 {
  height: 30px;
  margin-top: 7px;
  background-color: #FD6E0A;
  color: white;
  width: 130px;
  border-radius: 10px;
  text-align: center;
  border: none;
}

.download-button2 {
  justify-content: center;
  display: flex;
}

.my-education {
  margin: 10px 50px;
}

.my-edu {
  margin: 10px 50px;
}

#resume {
  display: flex;
  justify-content: center;
}


.nav-list li {
  text-decoration: none;
}

.nav-list li a {
  color: black;
}

.contact-button-margin a {
  text-decoration: none;
  color: black;
}

.download-button:hover {
  background-color: red;
}

.contact-button:hover {
  background-color: red;
}

.hireme-button:hover {
  background-color: red;
}

.download1:hover {
  background-color: red;
}

.bg-color-for-section3 {
  background-color: #FFF8F3;
}

footer {margin-top: 100px;
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.footer-column {
  width: 50%;
}

input[type="text"], input[type="email"] , footer textarea {
 
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}

@media screen and (max-width:576px){.languages{flex-direction: column;padding: 0%;gap: 0;}.my-info{flex-direction: column;}footer{flex-direction: column;padding: 10%;gap: 10px;}input[type="text"], input[type="email"], footer textarea{width: 70%;}.footer-column{width: 100%;}.what-i-do-section{margin: 30px 0px ;gap: 100px;}.full-about-me{margin: 0px;padding: 30px;}.contact-info{flex-direction: column;}.content1{flex-direction: column;}.image-div {
  margin: 15px;
}.content {
  margin: 50px;
}.language{margin: 20px;}.content1{background-image: none;}}